/// Archivo para almacenar constantes y variables de entorno. Para usar correctamente:
/// 1) Copiar este archivo a `env.dart`
/// 2) Rellenar las constantes con los valores correspondientes
/// Realizar esto antes de empezar a desarrollar o realizar un build de la aplicación

const ENV = {
  'MAPBOX_API_KEY': "",
};